In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv("crime_data.csv")

In [6]:
df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     object
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     int64
 3   UrbanPop    50 non-null     int64
 4   Rape        50 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

In [8]:
df.columns.values[0]="Location"

In [9]:
df.isnull().sum()
#No Nulls found in the given dataset

Location    0
Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [10]:
df.dtypes
#Every field is of apt datatype

Location     object
Murder      float64
Assault       int64
UrbanPop      int64
Rape        float64
dtype: object

In [13]:
# Check for duplicates in the dataset
df=pd.read_csv("crime_data.csv")
duplicates = df.duplicated()

# Count the number of duplicate rows
duplicate_count = duplicates.sum()
duplicate_count

np.int64(0)

In [15]:
df.to_csv("Cleaned_Dataset.csv")